name: Windows RDP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Setup RDP User
      shell: powershell
      run: |
        net user runneradmin /active:yes
        net user runneradmin "Password123!"
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "FdenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Show RDP Info
      shell: powershell
      run: |
        $ip = (Invoke-WebRequest -uri "https://api.ipify.org").Content
        Write-Host "===================================="
        Write-Host " RDP ADDRESS: $ip"
        Write-Host " USERNAME   : runneradmin"
        Write-Host " PASSWORD   : Password123!"
        Write-Host "===================================="