name: Windows 2022 VNC Desktop FIXED

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Download VNC
      shell: powershell
      run: |
        Invoke-WebRequest -Uri "https://github.com/RealVNC/raspi-preview/releases/download/v0.0.1/VNC-Server-6.11.1-Windows.exe" -OutFile "$env:USERPROFILE\vnc.exe"

    - name: Install VNC
      shell: powershell
      run: |
        Start-Process "$env:USERPROFILE\vnc.exe" -ArgumentList "/silent" -Wait

    - name: Start VNC Service
      shell: powershell
      run: |
        & "C:\Program Files\RealVNC\VNC Server\vncserver.exe" -service install
        & "C:\Program Files\RealVNC\VNC Server\vncserver.exe" -service start

    - name: Set VNC Password
      shell: powershell
      run: |
        $pass = "123456"
        & "C:\Program Files\RealVNC\VNC Server\vncpasswd.exe" -set $pass

    - name: Show Connection Info
      shell: powershell
      run: |
        $ip = (Invoke-WebRequest -uri "https://api.ipify.org").Content
        Write-Host "===================================="
        Write-Host " VNC READY"
        Write-Host " IP       : $ip"
        Write-Host " PORT     : 5900"
        Write-Host " PASSWORD : 123456"
        Write-Host "===================================="