name: Windows RDP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Enable RDP
      run: |
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "FdenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        net user github /add
        net localgroup administrators github /add
        net user github "123456"

    - name: Display RDP Instructions
      run: |
        $ip = (Invoke-WebRequest -uri "https://api.ipify.org").Content
        echo "======================================" 
        echo " RDP Details"
        echo " IP: $ip"
        echo " Username: github"
        echo " Password: 123456"
        echo "======================================"