name: Download VNC Server

on:
  workflow_dispatch:  # Trigger manual
  push:
    branches:
      - main

jobs:
  download-vnc:
    runs-on: windows-2022

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set variables
      run: |
        echo "VNC_URL=https://github.com/RealVNC/raspi-preview/releases/download/v0.0.1/VNC-Server-6.11.1-Windows.exe" >> $GITHUB_ENV
        echo "VNC_FILE=$env:USERPROFILE\\vnc.exe" >> $GITHUB_ENV
      shell: powershell

    - name: Download VNC Server using Invoke-WebRequest
      run: |
        $maxRetries = 3
        $retry = 0
        $success = $false
        while (-not $success -and $retry -lt $maxRetries) {
            try {
                Invoke-WebRequest -Uri $env:VNC_URL -OutFile $env:VNC_FILE -UseBasicParsing
                $success = $true
            } catch {
                Write-Host "Download failed. Retry $($retry+1)/$maxRetries..."
                Start-Sleep -Seconds 5
                $retry++
            }
        }
        if (-not $success) { throw "Failed to download VNC Server after $maxRetries attempts." }
      shell: powershell